* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    width: 400px;
    margin:auto;
    padding: 30px;
    text-align: center;
}
.inner {
    width: 100%;
    height: 300px;
    background: linear-gradient(rgb(230, 161, 57), rgb(224, 89, 89));
}
a {
    display: inline-block;
    background: rgb(28, 179, 91);
    font-weight: bold;
    margin-top: 30px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}